In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd
from google.cloud.storage import Client
from google.cloud import bigquery
import os

In [2]:
## resgitamos en las variables de entorno la clave de acceso a GCP y las cadenas de conexi√≥n de la base de datos
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="D:/Datapath/focus-ensign-285500-f92724b743a9.json"
con_mysql = 'mysql+pymysql://avnadmin:AVNS_ej2c54ioxvKZZ1oZ48s@mysql-1f96a2c5-jonathanca9601-6356.a.aivencloud.com:22425/datapath'
mongo_connection = 'mongodb+srv://datapath:datapath@datapath.tw1p2hc.mongodb.net/?retryWrites=true&w=majority'

## Validar si existe archivo

# Tareas

### Ejercicio 01 :Agregar el validador de conteo en la tabla departments  que se encuentra en la BD de Mysql

In [3]:
engine = db.create_engine(con_mysql)
conn = engine.connect()

In [4]:
departments_df = pd.read_sql_query(text('SELECT * FROM departments'), con=conn)
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [5]:
conn.close()

In [6]:
departments_df.dtypes

department_id       int64
department_name    object
dtype: object

In [7]:
departments_rows=len(departments_df)
departments_rows

6

In [8]:

if departments_rows>0 :
    # Construct a BigQuery client object.
    client = bigquery.Client()

    table_id_departments =  "focus-ensign-285500.dep_raw.departments"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("department_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("department_name", bigquery.enums.SqlTypeNames.STRING),
        ],
        write_disposition="WRITE_TRUNCATE",
    )
    job = client.load_table_from_dataframe(
        departments_df, table_id_departments, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id_departments)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id_departments
        )
    )
else : 
    print('alerta no hay registros en la tabla departments')

Loaded 6 rows and 2 columns to focus-ensign-285500.dep_raw.departments

### Ejercicio 02 :Agregar el validador de conteo en la tabla products que se encuentra en la BD de MongoDB

In [9]:
from pymongo import MongoClient
from pandas import DataFrame

def get_connect_mongo():

    CONNECTION_STRING ="mongodb+srv://atlas:T6.HYX68T8Wr6nT@cluster0.enioytp.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(mongo_connection)

    return client

In [10]:
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["products"] 

# customers = collection_name.find({},{"_id":1,"customer_id":1})  filtrar columna
products = collection_name.find({})
products_df = DataFrame(products)
dbconnect.close()

In [11]:
products_df.dtypes

_id                     object
product_id               int64
product_category_id      int64
product_name            object
product_description    float64
product_price          float64
product_image           object
dtype: object

In [12]:
products_df['_id'] = products_df['_id'].astype(str)

In [13]:
products_df.head()

,_id,product_id,product_category_id,product_name,product_description,product_price,product_image
0,65a8bb8a4a457b8870605800,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,65a8bb8a4a457b8870605801,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,65a8bb8a4a457b8870605802,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,65a8bb8a4a457b8870605803,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,65a8bb8a4a457b8870605804,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...

In [14]:
len(products_df)

1345

In [15]:
products_rows=len(products_df)

In [16]:
if products_rows>0 :
    client = bigquery.Client()

    table_id_products =  "focus-ensign-285500.dep_raw.products"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("product_category_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("product_name", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_description", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("product_price", bigquery.enums.SqlTypeNames.FLOAT),
            bigquery.SchemaField("product_image", bigquery.enums.SqlTypeNames.STRING)
        ],
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        products_df, table_id_products, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id_products)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id_products
        )
    )
else : 
    print('alerta no hay registros en la tabla products')

Loaded 1345 rows and 7 columns to focus-ensign-285500.dep_raw.products

### Ejercicio 03 :Agregar el validador de fecha en la tabla order_items que se encuentra en la BD de MongoDB

#### Se cargan los datos en la base de BigQuery

In [17]:
v_fecha='2023-08-01'
v_fecha_fin='2023-12-02'
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["order_items"] 
order_items = collection_name.find({"order_date":{"$gte":  v_fecha  , "$lt": v_fecha_fin }}
                             #,{"_id":1,"order_id":1,"order_date":1}
                             )  
#orders = collection_name.find({})
order_items_df = DataFrame(order_items)
dbconnect.close()

order_items_df.dtypes
order_items_df['_id'] = order_items_df['_id'].astype(str)
def transform_date(text):
    text = str(text)
    d = text[0:10]
    return d
order_items_df.head()
order_items_df['order_date']  = order_items_df['order_date'].map(transform_date) 
order_items_df['order_date'] = pd.to_datetime(order_items_df['order_date'], format='%Y-%m-%d').dt.date

In [18]:
order_items_rows = len(order_items_df)
order_items_rows

23476

In [19]:

if order_items_rows>0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.order_items"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
        ],
        time_partitioning=bigquery.TimePartitioning(
            type_=bigquery.TimePartitioningType.DAY,
            field="order_date",  # Name of the column to use for partitioning.
        ),
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        order_items_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else :
    print("alerta no hay registros en la tabla order_items")

Loaded 2762 rows and 5 columns to focus-ensign-285500.dep_raw.order_items

#### Se agrega el validador para no volver a repetir la fecha

In [20]:
v_fecha='2023-12-02'
v_fecha_fin='2023-12-15'
dbconnect = get_connect_mongo()
dbname=dbconnect["retail_db"]
collection_name = dbname["order_items"] 
order_items = collection_name.find({"order_date":{"$gte":  v_fecha  , "$lt": v_fecha_fin }}
                             #,{"_id":1,"order_id":1,"order_date":1}
                             )  
#orders = collection_name.find({})
order_items_df = DataFrame(order_items)
dbconnect.close()

order_items_df.dtypes
order_items_df['_id'] = order_items_df['_id'].astype(str)
def transform_date(text):
    text = str(text)
    d = text[0:10]
    return d
order_items_df.head()
order_items_df['order_date']  = order_items_df['order_date'].map(transform_date) 
order_items_df['order_date'] = pd.to_datetime(order_items_df['order_date'], format='%Y-%m-%d').dt.date

In [21]:
order_items_rows = len(order_items_df)
order_items_rows

2342

In [22]:
order_items_df

,_id,order_id,order_date,order_customer_id,order_status
0,65a8bba54a457b887061bcd8,21123,2023-12-02,2569,CANCELED
1,65a8bba54a457b887061bcd9,21124,2023-12-02,7121,COMPLETE
2,65a8bba54a457b887061bcda,21125,2023-12-02,8928,COMPLETE
3,65a8bba54a457b887061bcdb,21126,2023-12-02,987,PENDING
4,65a8bba54a457b887061bcdc,21127,2023-12-02,3916,PROCESSING
...,...,...,...,...,...
2337,65a8bba54a457b88706276f2,68765,2023-12-09,5243,PROCESSING
2338,65a8bba54a457b88706276f3,68766,2023-12-10,382,PROCESSING
2339,65a8bba54a457b88706276f4,68767,2023-12-11,6671,CANCELED
2340,65a8bba54a457b88706276f5,68768,2023-12-12,4150,COMPLETE
2341,65a8bba54a457b88706276f6,68769,2023-12-13,1296,PROCESSING

#### Se valida que la fecha no se repita

In [23]:
client = bigquery.Client()
query_string = """
SELECT COUNT(1) COUNT FROM `focus-ensign-285500.dep_raw.order_items` where order_date='"""+v_fecha+"""'
"""
query_job = client.query(query_string)
rows = list(query_job.result())
rows_bq_items_rows=rows[0][0]
print(rows_bq_items_rows)

0

In [24]:

if rows_bq_items_rows==0 :
    client = bigquery.Client()

    table_id =  "focus-ensign-285500.dep_raw.order_items"
    job_config = bigquery.LoadJobConfig(
        schema=[
            bigquery.SchemaField("_id", bigquery.enums.SqlTypeNames.STRING),
            bigquery.SchemaField("order_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_date", bigquery.enums.SqlTypeNames.DATE),
            bigquery.SchemaField("order_customer_id", bigquery.enums.SqlTypeNames.INTEGER),
            bigquery.SchemaField("order_status", bigquery.enums.SqlTypeNames.STRING),
        ],
        time_partitioning=bigquery.TimePartitioning(
            type_=bigquery.TimePartitioningType.DAY,
            field="order_date",  # Name of the column to use for partitioning.
        ),
        write_disposition="WRITE_TRUNCATE",
    )


    job = client.load_table_from_dataframe(
        order_items_df, table_id, job_config=job_config
    )  
    job.result()  # Wait for the job to complete.

    table = client.get_table(table_id)  # Make an API request.
    print(
        "Loaded {} rows and {} columns to {}".format(
            table.num_rows, len(table.schema), table_id
        )
    )
else :
    print("Ya existe la fecha")

Loaded 2342 rows and 5 columns to focus-ensign-285500.dep_raw.order_items